<!doctype html>
<!-- For clean file, using Susan Buck's Week 6 code for start to more advanced Week 8 content -->

<html lang='en'>

<head>
    <title>Word Scramble</title>
    <meta charset='utf-8'>

    <script src='/js/app.js' defer></script>
    <style>
        .mysteryWord {
            font-family: consolas;
            font-size: 25px;
        }

        [v-cloak] {
            display: none;
        }

        button {
            margin-left: 5px;
        }
    </style>
</head>

<body>

    <h1>Word Scramble</h1>
    <div id='app' v-cloak>

        <div v-if='!gameStarted'>
            <label for='name'>Enter your player name: </label>
            <input type='text' id='name' v-model='name' v-on:keyup.enter='startGame'>
            <button v-on:click='startGame'>Let’s play!</button>
        </div>

        <div v-else>
            <p>Game on, {{ name }}!</p>

            <p>Your mystery word is: <span class='mysteryWord'>{{ displayWord }}</span></p>

            <p>Hint: <em>{{ hint }}</em></p>

            <label for='guess'>Your guess: </label>
            <input type='text' id='guess' v-model.trim='guess' v-on:keyup.enter='submitGuess'>
            <button v-on:click='submitGuess'>Submit guess</button>
        </div>

        <guess-feedback
            v-if='feedback' 
            v-bind:correct='correct' 
            v-on:load-game='loadGame()'>
        </guess-feedback>

    </div>

</body>

</html>