body {
	margin: 0;
	padding: 0;
	background: #891e42;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4D4D4D;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
	color: #1e6589;
}

h1 {
	margin-bottom: 10px;
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

li {
	margin: 5px auto;
}

a {
	text-decoration: none;
	color: #1e4289;
}

a:hover {
	color: #1e8965;
}

#wrapper {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
}

#header {
	width: 940px;
	height: 100px;
	margin: 0px auto;
	padding: 0px;
}

#page {
	background-color: #ffffff;
	width: 940px;
	margin: 50px auto -15px auto;
	padding: 0px;
}

.content {
	padding: 5px 20px;
}

#footer {
	width: 940px;
	margin: 10px auto;
	padding: 15px 0px;
	background-color: #3D3630;
	color: #949085;
}

#footer a {
	color: #94858d;
}

#footer a:hover {
	color: #7b7156;
}

nav {
	width: 940;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline-block;
	padding: 15px 50px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #94858d;
	border: none;
}

nav ul li a:hover, nav ul li .current_page_item a {
	text-decoration: none;
}

nav ul li a:hover {
	color: #7b7156;
}

nav ul li .current_page_item a {
	color: #859493
}

#copyright {
	text-align: center;
		width: 940;
		margin: 0px auto;
		padding: 0px;
}

#banner {
	width: 940px;
	margin: 0px auto;
	height: 150px;
}
