body {
	margin: 0;
	padding: 0;
	background: #891e42;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4D4D4D;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
	color: #1e6589;
}

h1 {
	margin-bottom: 10px;
	font-size: 2em;
}

h2 {
	margin-bottom: 10px;
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

li {
	margin: 5px auto;
}

a {
	text-decoration: none;
	color: #1e4289;
}

a:hover {
	color: #1e8965;
}

#wrapper {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
}

#header {
	width: 940px;
	height: 100px;
	margin: 0px auto;
	padding: 0px;
}

#page {
	background-color: #ffffff;
	width: 940px;
	margin: 50px auto -15px auto;
	padding: 0px;
}

.content {
	padding: 5px 20px;
}

#footer {
	width: 940px;
	margin: 10px auto;
	padding: 15px 0px;
	background-color: #3D3630;
	color: #949085;
}

#footer a {
	color: #94858d;
}

#footer a:hover {
	color: #7b7156;
}

nav {
	width: 940;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline-block;
	padding: 15px 25px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #94858d;
	border: none;
}

nav ul li a:hover, nav ul li .current_page_item a {
	text-decoration: none;
}

nav ul li a:hover {
	color: #7b7156;
}

nav ul li .current_page_item a {
	color: #859493
}

#copyright {
	text-align: center;
		width: 940;
		margin: 0px auto;
		padding: 0px;
}

#banner {
	width: 940px;
	margin: 0px auto;
	height: 150px;
}

/* 
https://v3.vuejs.org/api/built-in-components.html#transition 
https://v3.vuejs.org/guide/transitions-enterleave.html#transitioning-single-elements-components
*/

/* Starting state */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Active state */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

label {
    font-weight: bold;
    font-size: 14pt;
}

input {
    width: 100%;
}

button {
    background-color: #1e7889;
    padding: 5px 20px;
    margin: -20px auto 20px auto;
    display: inline-block;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.extraspacing {
    margin-bottom: 30px;
}

.error {
    color: #891e42;
    font-weight: bold;
    font-size: 14pt;
    padding: 0 0 20px 0;
    margin-left: 30px;
}

.confirm {
    color: #1e8965;
    font-weight: bold;
    font-size: 14pt;
    padding: 0 0 20px 0;
    margin-left: 30px;
}
