/* Charity Katz - E28 Week 7 Game - Spring 2021 */

body {
	background-color: #85c1e9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #000000;
}

#container {
	background-color: #FFFFFF;
	width: 900px;
	margin: auto;
	padding: 15px;
}

#game_results {
	position: relative;
}

#player {
	float: left;
	width: 50%;
	margin: 0;
	text-align: center;
}

#computer {
	float: right;
	width: 50%;
	margin: 0;
	text-align: center;
}

h1 {
	text-align: center;
}

button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
	font-size: 24pt;
}

button:hover {
	border-color: #708090;
}

button.play {
	background-color: #99FFCC;
	font-size: 16pt;
	color: #000000;
	
}

.winner_declaration {
	text-align: center;
	font-size: 18pt;
	font-weight: 700;
}

#winner {
	color: #66a594;
}